.layout {
  background-color: rgb(245, 232, 232);
  max-width: 1200px;
  min-width: 1000px;
  margin: auto;
  text-align: center;
}
.title {
  /* background-color: antiquewhite; */
  width: 800px;
  text-align: center;
  margin: auto;
}
.bar {
  width: 800px;
}
.addbtn {
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 100px;
  font-size: 15px;
}
.addbtn:hover {
  background-color: rgb(204, 225, 243);
}
