.camp_spreader__vertical{
  width: 16vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.camp_container__vertical{
  width: 60%;
  min-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(236, 186, 186);
  border-radius: 1rem;
  background-color: rgb(244, 235, 235);
  margin: 20px 0px;
}
.camp_box__nav{
  width: 120px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.camp_box__nav img {
  border: 1px solid rgb(236, 186, 186);
  border-radius: 10rem;
  width: 60px;
  margin-bottom: 10px;
}
.camp_box__nav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.camp_box__nav a:hover {
  color: #E3344D;
}