.layout {
  max-width: 1200px;
  min-width: 1000px;
  margin: auto;
}

.title {
  /* background-color: antiquewhite; */
  width: 800px;
  text-align: center;
  margin: auto;
}

.bar {
  width: 800px;
}
