.layout{
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.title{
  /* background-color: antiquewhite; */
  width: 800px;
  text-align : center;
  margin: auto;
  
}

.bar{
  width: 800px;
}

.plusbutton{
  position: fixed;
    bottom: 10px;
    right: 10px;
}