.card {
  height: 200px;
  margin: 20px;
  width: 260px;
  border: 4px solid black;
  border-radius: 12px;
  padding: 30px 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  margin: auto;
}
p {
  font-weight: 800;
  font-size: 20px;
  margin: auto;
  text-align: center;
}
